<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="userRoles">
            <h2><span jhiTranslate="eGpApp.userManagementUserRoles.detail.title">User Roles</span> {{userRoles.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="eGpApp.userManagementUserRoles.dateCreated">Date Created</span></dt>
                <dd>
                    <span>{{userRoles.dateCreated}}</span>
                </dd>
                <dt><span jhiTranslate="eGpApp.userManagementUserRoles.dateUpdated">Date Updated</span></dt>
                <dd>
                    <span>{{userRoles.dateUpdated}}</span>
                </dd>
                <dt><span jhiTranslate="eGpApp.userManagementUserRoles.createdBy">Created By</span></dt>
                <dd>
                    <span>{{userRoles.createdBy}}</span>
                </dd>
                <dt><span jhiTranslate="eGpApp.userManagementUserRoles.updatedBy">Updated By</span></dt>
                <dd>
                    <span>{{userRoles.updatedBy}}</span>
                </dd>
                <dt><span jhiTranslate="eGpApp.userManagementUserRoles.isDeleted">Is Deleted</span></dt>
                <dd>
                    <span>{{userRoles.isDeleted}}</span>
                </dd>
                <dt><span jhiTranslate="eGpApp.userManagementUserRoles.users">Users</span></dt>
                <dd>
                    <div *ngIf="userRoles.users">
                        <a [routerLink]="['/users', userRoles.users?.id, 'view']">{{userRoles.users?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="eGpApp.userManagementUserRoles.roles">Roles</span></dt>
                <dd>
                    <div *ngIf="userRoles.roles">
                        <a [routerLink]="['/roles', userRoles.roles?.id, 'view']">{{userRoles.roles?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/user-roles', userRoles.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
