<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="permission">
            <h2><span jhiTranslate="eGpApp.userManagementPermission.detail.title">Permission</span> {{permission.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="eGpApp.userManagementPermission.dateCreated">Date Created</span></dt>
                <dd>
                    <span>{{permission.dateCreated}}</span>
                </dd>
                <dt><span jhiTranslate="eGpApp.userManagementPermission.dateUpdated">Date Updated</span></dt>
                <dd>
                    <span>{{permission.dateUpdated}}</span>
                </dd>
                <dt><span jhiTranslate="eGpApp.userManagementPermission.createdBy">Created By</span></dt>
                <dd>
                    <span>{{permission.createdBy}}</span>
                </dd>
                <dt><span jhiTranslate="eGpApp.userManagementPermission.updatedBy">Updated By</span></dt>
                <dd>
                    <span>{{permission.updatedBy}}</span>
                </dd>
                <dt><span jhiTranslate="eGpApp.userManagementPermission.isDeleted">Is Deleted</span></dt>
                <dd>
                    <span>{{permission.isDeleted}}</span>
                </dd>
                <dt><span jhiTranslate="eGpApp.userManagementPermission.menu">Menu</span></dt>
                <dd>
                    <div *ngIf="permission.menu">
                        <a [routerLink]="['/menu', permission.menu?.id, 'view']">{{permission.menu?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="eGpApp.userManagementPermission.operation">Operation</span></dt>
                <dd>
                    <div *ngIf="permission.operation">
                        <a [routerLink]="['/operation', permission.operation?.id, 'view']">{{permission.operation?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/permission', permission.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
