<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-permission-heading" jhiTranslate="eGpApp.userManagementPermission.home.createOrEditLabel">Create or edit a Permission</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eGpApp.userManagementPermission.dateCreated" for="field_dateCreated">Date Created</label>
                    <div class="d-flex">
                        <input id="field_dateCreated" type="datetime-local" class="form-control" name="dateCreated" formControlName="dateCreated" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eGpApp.userManagementPermission.dateUpdated" for="field_dateUpdated">Date Updated</label>
                    <div class="d-flex">
                        <input id="field_dateUpdated" type="datetime-local" class="form-control" name="dateUpdated" formControlName="dateUpdated" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eGpApp.userManagementPermission.createdBy" for="field_createdBy">Created By</label>
                    <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                           formControlName="createdBy"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eGpApp.userManagementPermission.updatedBy" for="field_updatedBy">Updated By</label>
                    <input type="text" class="form-control" name="updatedBy" id="field_updatedBy"
                           formControlName="updatedBy"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eGpApp.userManagementPermission.isDeleted" for="field_isDeleted">Is Deleted</label>
                    <input type="checkbox" class="form-control" name="isDeleted" id="field_isDeleted"
                           formControlName="isDeleted"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eGpApp.userManagementPermission.menu" for="field_menu">Menu</label>
                    <select class="form-control" id="field_menu" name="menu" formControlName="menu">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="menuOption.id === editForm.get('menu').value?.id ? editForm.get('menu').value : menuOption" *ngFor="let menuOption of menus; trackBy: trackMenuById">{{menuOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eGpApp.userManagementPermission.operation" for="field_operation">Operation</label>
                    <select class="form-control" id="field_operation" name="operation" formControlName="operation">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="operationOption.id === editForm.get('operation').value?.id ? editForm.get('operation').value : operationOption" *ngFor="let operationOption of operations; trackBy: trackOperationById">{{operationOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
