<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="menuZone">
            <h2><span jhiTranslate="eGpApp.userManagementMenuZone.detail.title">Menu Zone</span> {{menuZone.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="eGpApp.userManagementMenuZone.dateCreated">Date Created</span></dt>
                <dd>
                    <span>{{menuZone.dateCreated}}</span>
                </dd>
                <dt><span jhiTranslate="eGpApp.userManagementMenuZone.dateUpdated">Date Updated</span></dt>
                <dd>
                    <span>{{menuZone.dateUpdated}}</span>
                </dd>
                <dt><span jhiTranslate="eGpApp.userManagementMenuZone.createdBy">Created By</span></dt>
                <dd>
                    <span>{{menuZone.createdBy}}</span>
                </dd>
                <dt><span jhiTranslate="eGpApp.userManagementMenuZone.updatedBy">Updated By</span></dt>
                <dd>
                    <span>{{menuZone.updatedBy}}</span>
                </dd>
                <dt><span jhiTranslate="eGpApp.userManagementMenuZone.isDeleted">Is Deleted</span></dt>
                <dd>
                    <span>{{menuZone.isDeleted}}</span>
                </dd>
                <dt><span jhiTranslate="eGpApp.userManagementMenuZone.roles">Roles</span></dt>
                <dd>
                    <span *ngFor="let roles of menuZone.roles; let last = last">
                        <a [routerLink]="['/roles', roles?.id, 'view' ]">{{roles.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="eGpApp.userManagementMenuZone.menu">Menu</span></dt>
                <dd>
                    <div *ngIf="menuZone.menu">
                        <a [routerLink]="['/menu', menuZone.menu?.id, 'view']">{{menuZone.menu?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="eGpApp.userManagementMenuZone.zone">Zone</span></dt>
                <dd>
                    <div *ngIf="menuZone.zone">
                        <a [routerLink]="['/zone', menuZone.zone?.id, 'view']">{{menuZone.zone?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/menu-zone', menuZone.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
