<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="menu">
            <h2><span jhiTranslate="eGpApp.userManagementMenu.detail.title">Menu</span> {{menu.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="eGpApp.userManagementMenu.code">Code</span></dt>
                <dd>
                    <span>{{menu.code}}</span>
                </dd>
                <dt><span jhiTranslate="eGpApp.userManagementMenu.name">Name</span></dt>
                <dd>
                    <span>{{menu.name}}</span>
                </dd>
                <dt><span jhiTranslate="eGpApp.userManagementMenu.description">Description</span></dt>
                <dd>
                    <span>{{menu.description}}</span>
                </dd>
                <dt><span jhiTranslate="eGpApp.userManagementMenu.dateCreated">Date Created</span></dt>
                <dd>
                    <span>{{menu.dateCreated}}</span>
                </dd>
                <dt><span jhiTranslate="eGpApp.userManagementMenu.dateUpdated">Date Updated</span></dt>
                <dd>
                    <span>{{menu.dateUpdated}}</span>
                </dd>
                <dt><span jhiTranslate="eGpApp.userManagementMenu.createdBy">Created By</span></dt>
                <dd>
                    <span>{{menu.createdBy}}</span>
                </dd>
                <dt><span jhiTranslate="eGpApp.userManagementMenu.updatedBy">Updated By</span></dt>
                <dd>
                    <span>{{menu.updatedBy}}</span>
                </dd>
                <dt><span jhiTranslate="eGpApp.userManagementMenu.isDeleted">Is Deleted</span></dt>
                <dd>
                    <span>{{menu.isDeleted}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/menu', menu.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
