<div>
    <h2 id="page-heading">
        <span jhiTranslate="eGpApp.userManagementRoles.home.title">Roles</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-roles" [routerLink]="['/roles/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="eGpApp.userManagementRoles.home.createLabel">
            Create a new Roles
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="roles?.length === 0">
        <span jhiTranslate="eGpApp.userManagementRoles.home.notFound">No roles found</span>
    </div>
    <div class="table-responsive" *ngIf="roles?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="code"><span jhiTranslate="eGpApp.userManagementRoles.code">Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="name"><span jhiTranslate="eGpApp.userManagementRoles.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="note"><span jhiTranslate="eGpApp.userManagementRoles.note">Note</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="dateCreated"><span jhiTranslate="eGpApp.userManagementRoles.dateCreated">Date Created</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="dateUpdated"><span jhiTranslate="eGpApp.userManagementRoles.dateUpdated">Date Updated</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="createdBy"><span jhiTranslate="eGpApp.userManagementRoles.createdBy">Created By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="updatedBy"><span jhiTranslate="eGpApp.userManagementRoles.updatedBy">Updated By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="isDeleted"><span jhiTranslate="eGpApp.userManagementRoles.isDeleted">Is Deleted</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="isActive"><span jhiTranslate="eGpApp.userManagementRoles.isActive">Is Active</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let roles of roles ;trackBy: trackId">
                <td><a [routerLink]="['/roles', roles.id, 'view' ]">{{roles.id}}</a></td>
                <td>{{roles.code}}</td>
                <td>{{roles.name}}</td>
                <td>{{roles.note}}</td>
                <td>{{roles.dateCreated | date:'medium'}}</td>
                <td>{{roles.dateUpdated | date:'medium'}}</td>
                <td>{{roles.createdBy}}</td>
                <td>{{roles.updatedBy}}</td>
                <td>{{roles.isDeleted}}</td>
                <td>{{roles.isActive}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/roles', roles.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/roles', roles.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/roles', { outlets: { popup: roles.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="roles?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
