<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="roles">
            <h2><span jhiTranslate="eGpApp.userManagementRoles.detail.title">Roles</span> {{roles.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="eGpApp.userManagementRoles.code">Code</span></dt>
                <dd>
                    <span>{{roles.code}}</span>
                </dd>
                <dt><span jhiTranslate="eGpApp.userManagementRoles.name">Name</span></dt>
                <dd>
                    <span>{{roles.name}}</span>
                </dd>
                <dt><span jhiTranslate="eGpApp.userManagementRoles.note">Note</span></dt>
                <dd>
                    <span>{{roles.note}}</span>
                </dd>
                <dt><span jhiTranslate="eGpApp.userManagementRoles.dateCreated">Date Created</span></dt>
                <dd>
                    <span>{{roles.dateCreated}}</span>
                </dd>
                <dt><span jhiTranslate="eGpApp.userManagementRoles.dateUpdated">Date Updated</span></dt>
                <dd>
                    <span>{{roles.dateUpdated}}</span>
                </dd>
                <dt><span jhiTranslate="eGpApp.userManagementRoles.createdBy">Created By</span></dt>
                <dd>
                    <span>{{roles.createdBy}}</span>
                </dd>
                <dt><span jhiTranslate="eGpApp.userManagementRoles.updatedBy">Updated By</span></dt>
                <dd>
                    <span>{{roles.updatedBy}}</span>
                </dd>
                <dt><span jhiTranslate="eGpApp.userManagementRoles.isDeleted">Is Deleted</span></dt>
                <dd>
                    <span>{{roles.isDeleted}}</span>
                </dd>
                <dt><span jhiTranslate="eGpApp.userManagementRoles.isActive">Is Active</span></dt>
                <dd>
                    <span>{{roles.isActive}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/roles', roles.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
