<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="rolesPermiss">
            <h2><span jhiTranslate="eGpApp.userManagementRolesPermiss.detail.title">Roles Permiss</span> {{rolesPermiss.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="eGpApp.userManagementRolesPermiss.value">Value</span></dt>
                <dd>
                    <span>{{rolesPermiss.value}}</span>
                </dd>
                <dt><span jhiTranslate="eGpApp.userManagementRolesPermiss.dateCreated">Date Created</span></dt>
                <dd>
                    <span>{{rolesPermiss.dateCreated}}</span>
                </dd>
                <dt><span jhiTranslate="eGpApp.userManagementRolesPermiss.dateUpdated">Date Updated</span></dt>
                <dd>
                    <span>{{rolesPermiss.dateUpdated}}</span>
                </dd>
                <dt><span jhiTranslate="eGpApp.userManagementRolesPermiss.createdBy">Created By</span></dt>
                <dd>
                    <span>{{rolesPermiss.createdBy}}</span>
                </dd>
                <dt><span jhiTranslate="eGpApp.userManagementRolesPermiss.updatedBy">Updated By</span></dt>
                <dd>
                    <span>{{rolesPermiss.updatedBy}}</span>
                </dd>
                <dt><span jhiTranslate="eGpApp.userManagementRolesPermiss.isDeleted">Is Deleted</span></dt>
                <dd>
                    <span>{{rolesPermiss.isDeleted}}</span>
                </dd>
                <dt><span jhiTranslate="eGpApp.userManagementRolesPermiss.roles">Roles</span></dt>
                <dd>
                    <div *ngIf="rolesPermiss.roles">
                        <a [routerLink]="['/roles', rolesPermiss.roles?.id, 'view']">{{rolesPermiss.roles?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="eGpApp.userManagementRolesPermiss.permission">Permission</span></dt>
                <dd>
                    <div *ngIf="rolesPermiss.permission">
                        <a [routerLink]="['/permission', rolesPermiss.permission?.id, 'view']">{{rolesPermiss.permission?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/roles-permiss', rolesPermiss.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
