<div>
    <h2 id="page-heading">
        <span jhiTranslate="eGpApp.userManagementRolesPermiss.home.title">Roles Permisses</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-roles-permiss" [routerLink]="['/roles-permiss/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="eGpApp.userManagementRolesPermiss.home.createLabel">
            Create a new Roles Permiss
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="rolesPermisses?.length === 0">
        <span jhiTranslate="eGpApp.userManagementRolesPermiss.home.notFound">No rolesPermisses found</span>
    </div>
    <div class="table-responsive" *ngIf="rolesPermisses?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="value"><span jhiTranslate="eGpApp.userManagementRolesPermiss.value">Value</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="dateCreated"><span jhiTranslate="eGpApp.userManagementRolesPermiss.dateCreated">Date Created</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="dateUpdated"><span jhiTranslate="eGpApp.userManagementRolesPermiss.dateUpdated">Date Updated</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="createdBy"><span jhiTranslate="eGpApp.userManagementRolesPermiss.createdBy">Created By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="updatedBy"><span jhiTranslate="eGpApp.userManagementRolesPermiss.updatedBy">Updated By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="isDeleted"><span jhiTranslate="eGpApp.userManagementRolesPermiss.isDeleted">Is Deleted</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="roles.id"><span jhiTranslate="eGpApp.userManagementRolesPermiss.roles">Roles</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="permission.id"><span jhiTranslate="eGpApp.userManagementRolesPermiss.permission">Permission</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let rolesPermiss of rolesPermisses ;trackBy: trackId">
                <td><a [routerLink]="['/roles-permiss', rolesPermiss.id, 'view' ]">{{rolesPermiss.id}}</a></td>
                <td>{{rolesPermiss.value}}</td>
                <td>{{rolesPermiss.dateCreated | date:'medium'}}</td>
                <td>{{rolesPermiss.dateUpdated | date:'medium'}}</td>
                <td>{{rolesPermiss.createdBy}}</td>
                <td>{{rolesPermiss.updatedBy}}</td>
                <td>{{rolesPermiss.isDeleted}}</td>
                <td>
                    <div *ngIf="rolesPermiss.roles">
                        <a [routerLink]="['/roles', rolesPermiss.roles?.id, 'view' ]" >{{rolesPermiss.roles?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="rolesPermiss.permission">
                        <a [routerLink]="['/permission', rolesPermiss.permission?.id, 'view' ]" >{{rolesPermiss.permission?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/roles-permiss', rolesPermiss.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/roles-permiss', rolesPermiss.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/roles-permiss', { outlets: { popup: rolesPermiss.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="rolesPermisses?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
