<div>
    <h2 id="page-heading">
        <span jhiTranslate="eGpApp.userManagementZone.home.title">Zones</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-zone" [routerLink]="['/zone/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="eGpApp.userManagementZone.home.createLabel">
            Create a new Zone
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="zones?.length === 0">
        <span jhiTranslate="eGpApp.userManagementZone.home.notFound">No zones found</span>
    </div>
    <div class="table-responsive" *ngIf="zones?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="code"><span jhiTranslate="eGpApp.userManagementZone.code">Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="name"><span jhiTranslate="eGpApp.userManagementZone.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="dateCreated"><span jhiTranslate="eGpApp.userManagementZone.dateCreated">Date Created</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="dateUpdated"><span jhiTranslate="eGpApp.userManagementZone.dateUpdated">Date Updated</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="createdBy"><span jhiTranslate="eGpApp.userManagementZone.createdBy">Created By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="updatedBy"><span jhiTranslate="eGpApp.userManagementZone.updatedBy">Updated By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="isDeleted"><span jhiTranslate="eGpApp.userManagementZone.isDeleted">Is Deleted</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let zone of zones ;trackBy: trackId">
                <td><a [routerLink]="['/zone', zone.id, 'view' ]">{{zone.id}}</a></td>
                <td>{{zone.code}}</td>
                <td>{{zone.name}}</td>
                <td>{{zone.dateCreated | date:'medium'}}</td>
                <td>{{zone.dateUpdated | date:'medium'}}</td>
                <td>{{zone.createdBy}}</td>
                <td>{{zone.updatedBy}}</td>
                <td>{{zone.isDeleted}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/zone', zone.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/zone', zone.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/zone', { outlets: { popup: zone.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="zones?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
