<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="users">
            <h2><span jhiTranslate="eGpApp.userManagementUsers.detail.title">Users</span> {{users.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="eGpApp.userManagementUsers.organizationUnitId">Organization Unit Id</span></dt>
                <dd>
                    <span>{{users.organizationUnitId}}</span>
                </dd>
                <dt><span jhiTranslate="eGpApp.userManagementUsers.email">Email</span></dt>
                <dd>
                    <span>{{users.email}}</span>
                </dd>
                <dt><span jhiTranslate="eGpApp.userManagementUsers.passwordHash">Password Hash</span></dt>
                <dd>
                    <span>{{users.passwordHash}}</span>
                </dd>
                <dt><span jhiTranslate="eGpApp.userManagementUsers.securityStamp">Security Stamp</span></dt>
                <dd>
                    <span>{{users.securityStamp}}</span>
                </dd>
                <dt><span jhiTranslate="eGpApp.userManagementUsers.phoneNumber">Phone Number</span></dt>
                <dd>
                    <span>{{users.phoneNumber}}</span>
                </dd>
                <dt><span jhiTranslate="eGpApp.userManagementUsers.jobTitle">Job Title</span></dt>
                <dd>
                    <span>{{users.jobTitle}}</span>
                </dd>
                <dt><span jhiTranslate="eGpApp.userManagementUsers.officeTel">Office Tel</span></dt>
                <dd>
                    <span>{{users.officeTel}}</span>
                </dd>
                <dt><span jhiTranslate="eGpApp.userManagementUsers.userName">User Name</span></dt>
                <dd>
                    <span>{{users.userName}}</span>
                </dd>
                <dt><span jhiTranslate="eGpApp.userManagementUsers.name">Name</span></dt>
                <dd>
                    <span>{{users.name}}</span>
                </dd>
                <dt><span jhiTranslate="eGpApp.userManagementUsers.description">Description</span></dt>
                <dd>
                    <span>{{users.description}}</span>
                </dd>
                <dt><span jhiTranslate="eGpApp.userManagementUsers.isActive">Is Active</span></dt>
                <dd>
                    <span>{{users.isActive}}</span>
                </dd>
                <dt><span jhiTranslate="eGpApp.userManagementUsers.dateCreated">Date Created</span></dt>
                <dd>
                    <span>{{users.dateCreated}}</span>
                </dd>
                <dt><span jhiTranslate="eGpApp.userManagementUsers.dateUpdated">Date Updated</span></dt>
                <dd>
                    <span>{{users.dateUpdated}}</span>
                </dd>
                <dt><span jhiTranslate="eGpApp.userManagementUsers.createdBy">Created By</span></dt>
                <dd>
                    <span>{{users.createdBy}}</span>
                </dd>
                <dt><span jhiTranslate="eGpApp.userManagementUsers.updatedBy">Updated By</span></dt>
                <dd>
                    <span>{{users.updatedBy}}</span>
                </dd>
                <dt><span jhiTranslate="eGpApp.userManagementUsers.isDeleted">Is Deleted</span></dt>
                <dd>
                    <span>{{users.isDeleted}}</span>
                </dd>
                <dt><span jhiTranslate="eGpApp.userManagementUsers.pictureId">Picture Id</span></dt>
                <dd>
                    <span>{{users.pictureId}}</span>
                </dd>
                <dt><span jhiTranslate="eGpApp.userManagementUsers.isOnline">Is Online</span></dt>
                <dd>
                    <span>{{users.isOnline}}</span>
                </dd>
                <dt><span jhiTranslate="eGpApp.userManagementUsers.dateOnlineUpdated">Date Online Updated</span></dt>
                <dd>
                    <span>{{users.dateOnlineUpdated}}</span>
                </dd>
                <dt><span jhiTranslate="eGpApp.userManagementUsers.dateOfflineUpdated">Date Offline Updated</span></dt>
                <dd>
                    <span>{{users.dateOfflineUpdated}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/users', users.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
