<div>
    <h2 id="page-heading">
        <span jhiTranslate="eGpApp.userManagementUsers.home.title">Users</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-users" [routerLink]="['/users/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="eGpApp.userManagementUsers.home.createLabel">
            Create a new Users
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="users?.length === 0">
        <span jhiTranslate="eGpApp.userManagementUsers.home.notFound">No users found</span>
    </div>
    <div class="table-responsive" *ngIf="users?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="organizationUnitId"><span jhiTranslate="eGpApp.userManagementUsers.organizationUnitId">Organization Unit Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="email"><span jhiTranslate="eGpApp.userManagementUsers.email">Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="passwordHash"><span jhiTranslate="eGpApp.userManagementUsers.passwordHash">Password Hash</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="securityStamp"><span jhiTranslate="eGpApp.userManagementUsers.securityStamp">Security Stamp</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="phoneNumber"><span jhiTranslate="eGpApp.userManagementUsers.phoneNumber">Phone Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="jobTitle"><span jhiTranslate="eGpApp.userManagementUsers.jobTitle">Job Title</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="officeTel"><span jhiTranslate="eGpApp.userManagementUsers.officeTel">Office Tel</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="userName"><span jhiTranslate="eGpApp.userManagementUsers.userName">User Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="name"><span jhiTranslate="eGpApp.userManagementUsers.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="description"><span jhiTranslate="eGpApp.userManagementUsers.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="isActive"><span jhiTranslate="eGpApp.userManagementUsers.isActive">Is Active</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="dateCreated"><span jhiTranslate="eGpApp.userManagementUsers.dateCreated">Date Created</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="dateUpdated"><span jhiTranslate="eGpApp.userManagementUsers.dateUpdated">Date Updated</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="createdBy"><span jhiTranslate="eGpApp.userManagementUsers.createdBy">Created By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="updatedBy"><span jhiTranslate="eGpApp.userManagementUsers.updatedBy">Updated By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="isDeleted"><span jhiTranslate="eGpApp.userManagementUsers.isDeleted">Is Deleted</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="pictureId"><span jhiTranslate="eGpApp.userManagementUsers.pictureId">Picture Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="isOnline"><span jhiTranslate="eGpApp.userManagementUsers.isOnline">Is Online</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="dateOnlineUpdated"><span jhiTranslate="eGpApp.userManagementUsers.dateOnlineUpdated">Date Online Updated</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="dateOfflineUpdated"><span jhiTranslate="eGpApp.userManagementUsers.dateOfflineUpdated">Date Offline Updated</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let users of users ;trackBy: trackId">
                <td><a [routerLink]="['/users', users.id, 'view' ]">{{users.id}}</a></td>
                <td>{{users.organizationUnitId}}</td>
                <td>{{users.email}}</td>
                <td>{{users.passwordHash}}</td>
                <td>{{users.securityStamp}}</td>
                <td>{{users.phoneNumber}}</td>
                <td>{{users.jobTitle}}</td>
                <td>{{users.officeTel}}</td>
                <td>{{users.userName}}</td>
                <td>{{users.name}}</td>
                <td>{{users.description}}</td>
                <td>{{users.isActive}}</td>
                <td>{{users.dateCreated | date:'medium'}}</td>
                <td>{{users.dateUpdated | date:'medium'}}</td>
                <td>{{users.createdBy}}</td>
                <td>{{users.updatedBy}}</td>
                <td>{{users.isDeleted}}</td>
                <td>{{users.pictureId}}</td>
                <td>{{users.isOnline}}</td>
                <td>{{users.dateOnlineUpdated | date:'medium'}}</td>
                <td>{{users.dateOfflineUpdated | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/users', users.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/users', users.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/users', { outlets: { popup: users.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="users?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
